<header class="header">
  <div class="container">
    <div class="pre-title">
      what are you waiting for?
    </div>
    <h1 class="title">
      Let's be creative !
    </h1>
    <div class="subtitle">
      next generation of startup
    </div>
    <div class="follow-block">
      <div class="text-follow">
      <span class="highlight" [ngClass]="{hovered: isHovered}">
        start
      </span>
        doing that
      </div>
      <button class="button" appHoverBtn
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
      </button>
    </div>
  </div>
</header>
