.list-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}
.list-main .icon{
  background-color: #383838;
  align-self: center;
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}
img{
  max-width: 60px;
}
.list-main .title--third{
  color: rgb(96, 96, 96);
  font-weight: bold;
  margin: 20px 0 12px 0;
}
.text-description{
  font-size: 16px;
  color: rgb(122, 122, 122);
  line-height: 1.714;
}
.list-main .link{
  color: rgb(122, 122, 122);
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid rgb(122,122,122);
  border-radius: 5px;
  margin-top: 20px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.list-main.hovered .link{
  background-color: #ff4c4c;
  color: #fff;
  border-color: #ff4c4c;
}
.list-main.hovered .icon{
  background-color: #c4dff6;
}

.list-features{
  text-align: left;
  max-width: 500px;
  position: relative;
  padding-left: 100px;
  margin-bottom: 60px;
}
.list-features .title{
  text-align: left;
  margin-bottom: 10px;
}
.list-features .icon{
  position: absolute;
  left: 0;
}
.list-markers{
  display: flex;
  flex-direction: column;
  max-width: 372px;
  margin-top: 20px;
  padding-left: 80px;
  position: relative;
}
.list-markers .title--third{
  text-align: left;
  font-size: 18px;
}
.list-markers .subtitle{
  text-align: left;
  margin: 6px 0 18px 0;
}
.list-markers .icon{
  position: absolute;
  left: 0;
  background-color: #383838;
  padding: 15px 10px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}
.list-markers .icon:before{
  content: "";
  position: absolute;
  left: 0;
  top: calc(100%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #383838 transparent transparent transparent;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

}
.list-markers .media:before, .list-markers .media:after{
  content: "";
  position: absolute;
  width: 20px;
  height: 30px;
  top: 100%;
  background-color: #fff;
  z-index: 2;
}
.list-markers .media:before{
  left: calc(50% - 6px);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.list-markers .media:after{
  right: calc(50% - 6px);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.list-markers .icon img{
  max-width: 40px;
}
.list-markers.hovered .icon{
  background-color: #c4dff6;
}
.list-markers.hovered .icon:before{
  border-color: #c4dff6 transparent transparent transparent;
}
.list-skills .title{
  font-size: 16px;
  color: #383838;
  color: rgb(138, 138, 138);
}
.list-skills .percent-rounder{
  font-size: 52px;
  color: #fff;
  text-align: center;
}
.list-works{
  position: relative;
}
.list-works .icons{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 30px;
}
.list-works .image-wrapper{
  background-color: #383838;
  position: absolute;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}
.list-works .image-wrapper img{
  position: absolute;
  width: 26px;
  height: 26px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.list-works .image-wrapper:first-child{
  left: 50%;
  z-index: 2;
}
.list-works .image-wrapper:nth-child(2){
  right: 50%;
  background-color: #e4e4e4;
}
.list-works .image-wrapper:nth-child(2) img{
  filter: contrast(0);
  -webkit-filter: contrast(0);

}
.list-works :host{
  width: 16.6%;
}
.list-works{
  background-color: #8a8a8a;
  min-height: 250px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}
.list-works .title--third, .list-works .text-description{
  color: #fff;
  text-align: center;
}
.list-works .likes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}
.list-works .likes img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.list-works.hovered{
  background-color: #ff4c4c;
}
.list-works.hovered .icons .image-wrapper:nth-child(2){
  background-color: #00a4e4;
}
.list-works.hovered .icons .image-wrapper:nth-child(2) img{
  filter: contrast(1);
  -webkit-filter: contrast(1);
}
.list-works.hovered .icons .image-wrapper:first-child{
  background-color: #00a98f;
}
.list-facts :host{
  width: 25%;
}
.list-facts{
  text-align: center;
}
.list-facts .title{
  font-size: 68px;
  font-weight: 300;
  position: relative;
  display: inline-block;
}
.list-facts .text-description{
  color: rgb(138, 138, 138);
  text-transform: uppercase;
  font-weight: bold;
}
.list-facts .icon img{
  max-width: 26px;

}
.list-facts .icon{
  margin: 10px 0;
}
.list-facts .title:before, .list-facts .title:after{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg) translatey(-50%);
  -moz-transform: rotate(45deg) translatey(-50%);
  -ms-transform: rotate(45deg) translatey(-50%);
  -o-transform: rotate(45deg) translatey(-50%);
  transform: rotate(45deg) translatey(-50%);
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #484848;
  top: 50%;
}
.list-facts .title:before{
  left: -40px;
}
.list-facts .title:after{
  right: -32px;
}
.list-facts.hovered .title:before, .list-facts.hovered .title:after{
  background-color: #ff4c4c;
}
.list-members{
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}
.list-members .image{
  position: relative;
}
.list-members .image img{
  max-width: 100%;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.list-members :host{
  width: 23%;
}
.list-members .social{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 100px;
  display: flex;
}
.list-members .social a{
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.list-members .social a:hover{
  background-color: #ff4c4c;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}
.list-members .social a:hover img{
  -ms-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.list-members .social a img{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 22px;
}
.list-members .button{
  color: #fff;
  background-color: #ff4c4c;
  padding: 10px 20px;
  font-family: inherit;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 160px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 250px;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -ms-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}
.list-members .title{
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
.list-members .contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-members .contacts a{
  color: #999;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  transition: .3s;
}
.list-members .contacts .mail:before, .list-members .contacts .phone:before{
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-background-size: cover;
  background-size: cover;
}
.list-members .contacts .mail:before{
  background-image: url('/../assets/img/envelope.svg');
}
.list-members .contacts .phone:before{
  background-image: url('/../assets/img/phone.svg');
}
.list-members .contacts a:hover{
  color: #ff4c4c;
}
.list-members.hovered .button{
  background-color: #333;
}
.list-members .image:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ff4c4c;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.list-members.hovered .image:before{
  opacity: 0.4;
}
.list-quotes{
  text-align: center;
}
.list-quotes .person{
  display: inline-flex;
  background-color: #e4e4e4;
  padding: 10px;
  justify-content: center;
  border-radius: 5px;
}
.list-quotes .person .name{
  color: #ff4c4c;
  font-weight: bold;
  margin-right: 10px;
}
.list-quotes .person .post{
  color: #383838;
}
.list-quotes .text-description{
  color: #fff;
  font-weight: 300;
}
