<section class="section section-features section--darktheme">
  <div class="container">
    <h2 class="title title--secondary">
      amazing <span class="highlight">features</span>
    </h2>
    <div class="subtitle">
      With unlimited features that we offer, we promise it's possible to make everything that was impossible form you !
    </div>
    <app-list [list]="list" [listClass]="'list-features'"></app-list>
    <img class="background-img background-img--horizontal" src="../../assets/img/tabletHor.png" alt="Horizontal tablet" title="Horizontal tablet">
    <img class="background-img background-img--vertical" src="../../assets/img/tabletVer.png" alt="Vertical tablet" title="Vertical tablet">
  </div>
</section>
